@import url("https://fonts.googleapis.com/css2?family=Alata&family=Amiko:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Alata", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

section {
  text-align: center;
}

section h1 {
  font-size: 40px;
  margin: 0;
  font-family: "Amiko", sans-serif;
}

section button {
  margin: 10px 0 30px 0;
  height: 40px;
  width: 100px;
  font-size: 15px;
  background-color: transparent;
  border: 2px #2274a5 solid;
  color: #2274a5;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}

section button:hover {
  cursor: pointer;
  border-color: none;
  background-color: #2274a5;
  color: white;
}

.wordle {
  gap: 10px;
}

.letter {
  border: 3px black solid;
  width: 50px;
  height: 50px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin: 5px;
  background-color: whitesmoke;
}

.row {
  display: flex;
}

.found {
  background-color: green;
}

.found-wrong-position {
  background-color: lightsalmon;
}

.enabled {
  background-color: whitesmoke;
}

.disabled {
  background-color: lightgray;
}

/**
* MODALS
*/

div.modal {
  z-index: 1;
  background-color: whitesmoke;
  border-radius: 10px;
  height: 300px;
  width: 300px;
  position: absolute;
  text-align: center;
  padding: 10px;
  border: 4px #000 solid;
  visibility: hidden;
}

section .game-options {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.game-options .option {
  border: 1px #2274a5 solid;
  width: 100px;
  padding: 5px;
  margin: 0 auto;
  border-radius: 5px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.game-options .option:hover {
  border: none;
  background-color: #2274a5;
  color: white;
}

.modal-button {
  background-color: green;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  color: white;
}

.modal-button:hover {
  cursor: pointer;
  background-color: transparent;
  border: 2px green solid;
  color: green;
}

.blur {
  filter: blur(3);
}

.alert-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
